* {
    margin: 0px;
}

.header {
    display: flex;
    width: auto;
    height: 87px;
    align-items: center;
    background-color: #C1E7E3;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    display: flex;
    width: 51px;
    height: 51px;
    margin-left: 18px;
}

.texto-logo {
    font-family: 'Averia Libre', cursive;
    display: flex;
    margin-left: 16px;
    font-style: normal;
    font-size: 48px;
    color: #419ED7;
    align-items: flex-start;
}

body {

    height: auto;
    background-color: #ADD5D0;
}

.main {
    display: flex;
    width: auto;
    height: auto;
    background-color: #ADD5D0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formulario {
    display: flex;
    width: auto;
    height: auto;
    flex-direction: row;
    align-items: center;
    margin-top: 15%;
}

span {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    color: white;
    margin-bottom: 20px;
    
}

.text-input {
    font-family: 'Averia Libre', cursive;
    color: #419ED7;
    width: 500px;
    height: auto;
    font-size: 20px;
}

label {
    font-family: 'Averia Libre', cursive;
    display: flex;
    width: 20%;
    float: right;
    justify-content: flex-end;
    margin-right: 10px;
    align-items: center;
    font-size: 20px;
    color: white;
}

.button1 {
    font-family: 'Averia Libre', cursive;
    width: 213px;
    height: 48px;
    font-size: 24px;
    color: white;
    background-color: #49B976;
    border: 1px solid #37BD6D;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 15%;

}

.button1:hover {
    background-color: #49b9769d;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}